<nav aria-label="breadcrumb">
  <ol{{ attributes.addClass('nj-breadcrumb') }}>
    {% for item in items %}
      {% if item.url %}
        <li class="nj-breadcrumb__item">
        <a href="{{ item.url }}">{{ item.text }}</a>
        </a>
      {% else %}
        <li class="nj-breadcrumb__item" aria-current="page">
        {{ item.text }}
      {% endif %}
    {% endfor %}
  </ol>
</nav>
